#workflow :
name: DevSecOps Security Scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tfsec:
    name: IaC Security Scan (tfsec)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Run tfsec (IaC scan)
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: .
          additional_args: >
            --exclude-path .terraform
            --exclude-path venv
          github_token: ${{ secrets.GITHUB_TOKEN }}

  trivy:
    name: Container Vulnerability Scan (Trivy)
    runs-on: ubuntu-latest
    needs: tfsec
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t devsecops-demo:latest .

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: devsecops-demo:latest
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true
          vuln-type: os,library
